<div class="header">




  <div class="account">
    <% if logged_in? %>
      <%= link_to "Log out", logout_path, method: :delete %>
      <%= current_user.first_name %>
    <% else %>
      <%= link_to login_path do %>
        <button class=>Login</button>
      <% end %>
      <%= link_to signup_path do %>
        <button class="button singup">Sign up</button>
      <% end %>
    <% end %>
  </div>

</div>